<ion-header>
    <ion-navbar>
        <ion-title>
            Snake
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row justify-content-center align-items-center>
        <ion-col col-auto>
            <h2>
                Choose a game type
            </h2>
        </ion-col>
    </ion-row>
    <button ion-button block outline color="dark" (tap)="newGame(mode)" *ngFor="let mode of gameTypes">{{mode.title}}</button>
    <br>
    <ion-row justify-content-center align-items-center>
        <ion-col col-auto>
            <h2>
                Choose the board size
            </h2>
        </ion-col>
    </ion-row>
    <ion-row justify-content-between align-items-center nowrap>
        <ion-col col-autp>
            <h3 no-padding no-margin>Width: </h3>
        </ion-col>
        <ion-col col-8>
            <ion-item no-padding no-border>
                <ion-range min="14" max="50" step="1" snaps="true" [(ngModel)]="width">
                    <ion-icon range-left small name="minus"></ion-icon>
                    <ion-icon range-right small name="plus"></ion-icon>
                </ion-range>
            </ion-item>
        </ion-col>
        <ion-col col-auto>
            <h3 no-padding no-margin [innerHtml]="width"></h3>
        </ion-col>
    </ion-row>

    <ion-row justify-content-between align-items-center nowrap>
        <ion-col col-auto>
            <h3 no-padding no-margin>Height: </h3>
        </ion-col>
        <ion-col col-8>
            <ion-item no-padding no-border>
                <ion-range min="14" max="50" step="1" snaps="true" [(ngModel)]="height">
                    <ion-icon range-left small name="minus"></ion-icon>
                    <ion-icon range-right small name="plus"></ion-icon>
                </ion-range>
            </ion-item>
        </ion-col>
        <ion-col col-auto>
            <h3 no-padding no-margin [innerHtml]="height"></h3>
        </ion-col>
    </ion-row>


    <!--<ion-row justify-content-center align-items-center>
        <ion-col col-auto>
            <h3 no-padding no-margin>Height: </h3>
        </ion-col>
        <ion-col col-8>
            <ion-item>
                <ion-range min="14" max="50" [(ngModel)]="height">
                    <ion-icon range-left small name="minus"></ion-icon>
                    <ion-icon range-right small name="plus"></ion-icon>
                </ion-range>
            </ion-item>
        </ion-col>
        <ion-col col-auto>
            <h3 no-padding no-margin [innerHtml]="height"></h3>
        </ion-col>
    </ion-row>-->
</ion-content>