page-game {
    [ion-fixed] {
        width: 100%;
        height: 100%;
    }
    ion-content {
        background: lighten(black, 20%) !important;
    }
    .toolbar-title {
        color: map-get($colors, light);
    }
    ion-footer {
        background: transparent;
    }
    .toolbar-background {
        background: black !important;
        border: none;
    }
    .fixed-content {
        ion-grid {
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
    .mobile-button-container {
        width: 100%;
        height: 20vh;
        ion-row {
            height: 50%;
        }
        .button-col {
            height: 100%;
        }
        button {
            height: 100%;
            width: 100%;
        }
        .button-inner {
            font-size: 4rem;
        }
    }
    .game-over-overlay {
        .grid {
            padding-bottom: 100px;
        }
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            height: auto;
        }
        .button-inner {
            font-size: 7rem;
        }
        [icon-only] ion-icon {
            padding: 0.2em;
        }
    }
    .game-header {
        color: #fff;
        padding: 5px 15px 5px 0px;
        position: relative;
    }
    .game-header>.score-block {
        display: inline-block;
    }
    .score-block>.score {
        position: absolute;
        right: 8px;
        top: -5px;
    }
    .score-block>.best-score {
        position: absolute;
        right: 8px;
        margin-top: 5px;
        font-size: 12px;
    }
    .game-header>.logo {
        display: inline-block;
        padding-left: 15px;
    }
    .game-container {
        display: block;
        margin: auto;
        background: #47565A;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        border-radius: 5px;
        position: relative;
    }
    .g-row {}
    .g-col {
        border: 1px solid rgba(97, 131, 138, .5);
        height: 100%;
        display: inline-block;
    }
    .start-button {
        padding: 15px;
        text-align: center;
        background-color: #47565A;
        color: white;
        border-radius: 5px;
    }
    .start-button:hover {
        opacity: 0.65;
        cursor: pointer;
    }
    .start-button.new-game-button {
        margin: 0 105px 4px 105px;
    }
    .disable-clicks {
        pointer-events: none;
    }
    .new-game-menu {
        position: absolute;
        top: 79px;
        text-align: center;
        width: 468px;
        background: rgba(0, 0, 0, 0.15);
        padding: 135px 0 135px 0;
    }
    .new-game-menu-label {
        font-size: 1.17em;
        margin-bottom: 13px;
        display: block;
        color: #fff;
    }
    .new-best-score {
        animation: glow .5s infinite alternate;
    }
    @keyframes glow {
        to {
            text-shadow: 0 0 15px #ffff00;
        }
    }
}