<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button navPop ion-button icon-only>
              <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            {{gameType.title}}
        </ion-title>
        <h5 text-end ion-text color="light" no-padding no-margin [innerHtml]="score"></h5>
    </ion-toolbar>
</ion-header>

<div class="game-over-overlay" *ngIf="isGameOver">
    <ion-grid>
        <ion-row justify-content-center align-items-center>
            <ion-col col-auto>
                <h4 no-margin no-padding color="light" ion-text [innerHtml]="'Your score: ' + score"></h4>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
            <ion-col col-auto>
                <h4 no-margin no-padding color="light" ion-text [innerHtml]="'High score: ' + best_score"></h4>
            </ion-col>
        </ion-row>
        <br>
        <ion-row justify-content-center align-items-center>
            <ion-col col-auto>
                <button ion-button icon-only clear navPop>
                <ion-icon name="arrow-back"></ion-icon>
            </button>
            </ion-col>
            <ion-col col-auto>
                <button ion-button icon-only clear (tap)="setBoard(); this.newGame(this.gameType.val);">
                <ion-icon name="ios-refresh-outline"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<ion-content #content no-padding (pan)="handleKeyboardEvents($event)">
    <ion-grid ion-fixed no-padding>
        <div class="game-container">
            <div class="g-row" [ngStyle]="{'height': cellSizeStr}" *ngFor="let column of board; let i = index;">
                <div class="g-col" [ngStyle]="{'width': cellSizeStr, 'background-color': setColors(i, j)}" *ngFor="let row of column; let j = index"></div>
            </div>
        </div>
    </ion-grid>
</ion-content>
<!--<ion-footer *ngIf="isMobile">
    <div class="mobile-button-container">
        <ion-row justify-content-center align-items-center>
            <ion-col col-4 no-padding no-margin class="button-col">
                <button ion-button outline icon-only (tap)="handleKeyboardEvents(controls.UP)" no-margin no-padding color="primary">
                      <ion-icon name="arrow-up"></ion-icon>
                    </button>
            </ion-col>
        </ion-row>
        <ion-row justify-content-center align-items-center>
            <ion-col col-4 no-padding no-margin class="button-col">
                <button ion-button outline icon-only (tap)="handleKeyboardEvents(controls.LEFT)" no-margin no-padding color="primary">
                      <ion-icon name="arrow-back"></ion-icon>
                    </button>
            </ion-col>
            <ion-col col-4 no-padding no-margin class="button-col">
                <button ion-button outline icon-only (tap)="handleKeyboardEvents(controls.DOWN)" no-margin no-padding color="primary">
                      <ion-icon name="arrow-down"></ion-icon>
                    </button>
            </ion-col>
            <ion-col col-4 no-padding no-margin class="button-col">
                <button ion-button outline icon-only (tap)="handleKeyboardEvents(controls.RIGHT)" no-margin no-padding color="primary">
                      <ion-icon name="arrow-forward"></ion-icon>
                    </button>
            </ion-col>
        </ion-row>
    </div>
</ion-footer>-->